body {
  background-color: #efefef;
  background-image: resolve("drops.png");
  width: width("../img/drops.png");

  .header {
    background-image: resolve("drops.png");
    padding: 10px;
  }

  .profile {
    background-image: resolve("profile.png");
  }
}

.test {
  .inner {
    padding: 20px;
  }

  &_group {
    color: #efefef;

    &_test {
      border-bottom: 1px solid #000;

      &_depth {
        background-color: #efefef;
        margin: auto;
      }
    }
  }
}

.game {
  color: #fff;
}

.normal {
  color: #fff;
}
